.link-favicon{
	vertical-align: bottom;
	margin-bottom: 0.3em;
	margin-left: 0.1em;
	margin-right: 0.1em;
	cursor: pointer !important;
	image-rendering: -webkit-optimize-contrast;
}

.link-favicon-preview {
	font-size: 50px;
	text-align: center;
}

.link-favicon-preview img{
	height: 50px;
}
